.btn-blue {
  display: block;
  padding: 14px 22px;
  background-color: transparent;
  @extend .stxm-r;
  @extend .cbrblue;
  @extend .ctblue;
  @extend .upper;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.btn-blue:hover {
  cursor: pointer;
  @extend .cbgblue;
  @extend .ctwhite;
}

.btn-blue:focus {
  outline: none;
}

@media screen and (max-width: 700px) {
  .btn-blue {
    padding: 7px 15px;
  }

  .btnm-blue {
    padding: 2px 5px;
  }
}
