/* color app */
.c-t-primary {
  color: $color-primary;
}
.c-t-secondary {
  color: $color-secondary;
}
.c-t-primary-app {
  color: $color-primary-app;
}
.c-t-secondary-app {
  color: $color-secondary-app;
}
.c-gray-1 {
  color: $color-gray-1;
}
.c-gray-2 {
  color: $color-gray-2;
}
.c-gray-3 {
  color: $color-gray-3;
}
.c-gray-4 {
  color: $color-gray-4;
}
.c-gray-5 {
  color: $color-gray-5;
}
.c-t-success {
  color: $color-success-app;
}
.c-t-error {
  color: $color-error-app;
}
