/* colors */
$color-primary: #000000;
$color-secondary: #ffffff;
$color-primary-app: #4c39e9;
$color-link-app: #00a2ff;
$color-secondary-app: #f84210;
$color-gray-1: #1b2032;
$color-gray-2: #7e818b;
$color-gray-3: #b1b3b7;
$color-gray-4: #d1d2d4;
$color-gray-5: #f0f0f2;
$color-success-app: #21d184;
$color-error-app: #ff5c5c;

/* font Work-Sans */
$font-work-sans: "Work Sans", sans-serif;
$font-wbold: 700;
$font-wmedium: 500;
$font-wlight: 300;
$font-wregular: 400;
$font-size-h1: 4.8rem;
$font-size-h2: 3.6rem;
$font-size-h3: 2.4rem;
$font-size-h4: 1.6rem;
$font-size-h: 2.4rem;
$font-size-m: 1.6rem;
$font-size-ms: 1.4rem;
$font-size-s: 1.2rem;
