/* colors */
$blue: #4c39e9;
$orange: #f84210;
$black: #000000;
$white: #ffffff;
$gray: #1b2032;
$graylight: #36393f;
$textinactif: #b1b3b7;
$input: #f2f0ff;
$placeholder: #b0a3ff;
$error: #ff4b4b;
$success: #05ee00;

/* font Work-Sans */
$font-work-sans: "Work Sans", sans-serif;
$font-wbold: 700;
$font-wmedium: 500;
$font-wlight: 300;
$font-wregular: 400;
