.box_info_company_selected {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.info_company {
  width: 400px;
}
.info_company div {
  margin: 20px 0;
}
.info_company p {
  margin: 5px 0;
}
