.cfw_box_trade_selected {
  margin-top: 20px;
}
.cfw_info_title_create_work {
  display: block;
  margin: 0 0 20px 0;
}
.cwf_box_create_trade_competence {
  display: flex;
  justify-content: space-between;
}
.cwf_box_create_trade_competence:nth-child(1) {
  flex: 4;
}
.cwf_box_create_trade_competence:nth-child(2) {
  flex: 1;
}
.cfw_btn_finish_trade {
  position: fixed;
  right: 70px;
  bottom: 120px;
}
