.cwsf_btn_validate_competence_savoir {
  margin: 80px 0 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cwsf_btn_validate_competence_savoir:hover svg {
  cursor: pointer;
}
