.cwic_box_info_create_trade_competence {
  right: 70px;
  // width: 400px;
  height: 250px;
  overflow-y: scroll;
  padding: 5px 20px 20px 20px;
  border: 1px solid #4b39e949;
}
.cwic_box_info_create_trade_competence::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
}
.cwic_box_info_create_trade_competence::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
.cwic_box_info_create_trade_competence::-webkit-scrollbar-thumb {
  background-color: rgba(0, 183, 255, 0.2);
  outline: 1px solid #4b39e949;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.cwic_box_info_create_trade_competence p {
  margin: 15px 0;
}
.cwic_box_info_create_trade_competence div {
  margin-bottom: 5px;
}

.cwic_box_competence {
  border-bottom: 1px solid #4c39e9;
  padding: 10px 0;
}
.cwic_competence {
  padding: 2px 10px;
}

.cwic_btn_go {
  display: flex;
  align-items: center;
}
.cwic_btn_go svg {
  margin-left: 2px;
}
