.stxxl-l {
  font-size: 4.6rem;
  font-weight: $font-wlight;
}
.stxxl-r {
  font-size: 4.6rem;
  font-weight: $font-wregular;
}
.stxxl-m {
  font-size: 4.6rem;
  font-weight: $font-wmedium;
}
.stxxl-b {
  font-size: 4.6rem;
  font-weight: $font-wbold;
}
