.the_menu_router_active {
  background-color: rgba(0, 0, 0, 0.6);
}
.the_menu_router_active svg path {
  fill: #f84210;
  stroke: #f84210;
}
.the_menu_router_active svg line {
  fill: #f84210;
  stroke: #f84210;
}
