.cbgblue {
  background-color: $blue;
}
.cbgorange {
  background-color: $orange;
}
.cbginactive {
  background-color: $textinactif;
}
.cbggray {
  background-color: $gray;
}
.cbginput {
  background-color: $input;
}
.cbgwhite {
  background-color: $white;
}
.cbgD {
  background-color: $graylight;
}
