.setting_img_form {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.setting_title_box {
  flex: 1;
}
.setting_box_input {
  display: flex;
  justify-content: center;
  width: 100%;
}
/* content */
.setting_box_input input[type="file"] {
  display: none;
}
.input_file {
  display: block;
  overflow: hidden;
  padding: 10px 20px;
  border-radius: 4px;
  transition: all 0.5s;
}
.input_file:hover {
  cursor: pointer;
  background-color: #f84210;
  color: #ffffff;
}

/**class for input add new file load this add in DOM with binding */
.is_load {
  background-color: #61ff84;
  border: transparent;
  color: #000;
}

.input_file_background {
  background-color: #7e818b;
}

.setting_box_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.setting_content_form {
  margin: 10px 0;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/******** */
.setting_box_btn {
  display: flex;
  align-items: flex-end;
  flex: 1;
}

@media screen and (max-width: 800px) {
  .setting_content_form {
    flex-direction: column;
  }
  .setting_box_img {
    margin-top: 20px;
  }
}
