.box_password_update_current_user div {
  margin-bottom: 10px;
}
.box_info_detail_user_update {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 50px;
}
.item_user_update {
  width: 400px;
}
.box_btn_user_update {
  display: flex;
  justify-content: flex-end;
}
// .info_detail_user_update p {
//   margin: 5px 0;
// }
// .info_detail_user_update div {
//   margin: 0 0 10px 0;
// }
