/* input */
.input {
  @extend .cbginput;
  @extend .stxm-r;
  border: transparent;
  border-radius: 4px;
  padding: 10px 20px;
  width: 80%;
}

.input:focus {
  outline: none;
  box-shadow: 0px 0px 5px 0px rgba(0, 174, 255, 0.8);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 174, 255, 0.8);
}

@media screen and (max-width: 700px) {
  .input {
    padding: 5px 10px;
  }
}

/* input balise select */
.input_select {
  @extend .cbginput;
  @extend .stxm-r;
  padding: 5px;
  border: transparent;
  border-radius: 4px;
}
.input_select:focus {
  outline: none;
  box-shadow: 0px 0px 5px 0px rgba(0, 174, 255, 0.8);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 174, 255, 0.8);
}
