/* input */
.input {
  background: #ffffff;
  border: 1px solid $color-gray-4;
  border-radius: 4px;
  padding: 10px 20px;
}

.input:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.input::placeholder {
  color: $color-gray-3;
}

@media screen and (max-width: 700px) {
  .input {
    background-size: 12px;
    padding: 5px 30px;
  }
}
