/* input email */
.input-email {
  background: #ffffff;
  background-image: url("~@/assets/img/user-input.svg");
  background-repeat: no-repeat;
  background-position: left 12px top 50%;
  background-size: 14px;
  border: 1px solid $color-gray-4;
  border-radius: 4px;
  padding: 10px 40px;
  display: block;
}

.input-email:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.input-email::placeholder {
  color: $color-gray-3;
}

/* input password */
.input-password {
  background: #ffffff;
  background-image: url("~@/assets/img/password-input.svg");
  background-repeat: no-repeat;
  background-position: left 12px top 50%;
  background-size: 14px;
  border: 1px solid $color-gray-4;
  border-radius: 4px;
  padding: 10px 40px;
  display: block;
}

.input-password:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.input-password::placeholder {
  color: $color-gray-3;
}

@media screen and (max-width: 700px) {
  .input-email {
    background-size: 12px;
    padding: 5px 30px;
  }
  .input-password {
    background-size: 12px;
    padding: 5px 30px;
  }
}
