.sts-l {
  font-size: 1.2rem;
  font-weight: $font-wlight;
}
.sts-r {
  font-size: 1.2rem;
  font-weight: $font-wregular;
}
.sts-m {
  font-size: 1.2rem;
  font-weight: $font-wmedium;
}
.sts-b {
  font-size: 1.2rem;
  font-weight: $font-wbold;
}
