.stxs-l {
  font-size: 1rem;
  font-weight: $font-wlight;
}
.stxs-r {
  font-size: 1rem;
  font-weight: $font-wregular;
}
.stxs-m {
  font-size: 1rem;
  font-weight: $font-wmedium;
}
.stxs-b {
  font-size: 1rem;
  font-weight: $font-wbold;
}
