.stxxs-l {
  font-size: 0.8rem;
  font-weight: $font-wlight;
}
.stxxs-r {
  font-size: 0.8rem;
  font-weight: $font-wregular;
}
.stxxs-m {
  font-size: 0.8rem;
  font-weight: $font-wmedium;
}
.stxxs-b {
  font-size: 0.8rem;
  font-weight: $font-wbold;
}
