.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.home_box_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 3;
  padding: 0 65px;
  background: linear-gradient(287.2deg, #8937db 29.09%, #4c39e9 63.29%);
}

.home_partial_component {
  flex: 1;
}

/** mobile */
@media screen and (max-width: 700px) {
  .home_box_content {
    flex-direction: column;
    padding: 30px 10px;
    justify-content: center;
  }
}
