.home_text {
  color: #fff;
}
.home_text_slogan {
  max-width: 300px;
  font-size: 1.6rem;
  font-weight: 700;
}
.home_text_title {
  margin: 50px 0;
}
.home_text_intro {
  max-width: 704px;
}
.home_text_intro p:nth-child(2) {
  margin-top: 25px;
}
