.ffw_box_title {
  display: flex;
  align-items: center;
}
.ffw_box_title svg {
  margin-right: 20px;
}
.ffw_box_title svg:hover {
  cursor: pointer;
}
.ffw_box_title svg:hover {
  cursor: pointer;
}
.ffw .box_title_cards {
  margin: 50px 0;
}
