.stxxm-l {
  font-size: 1.8rem;
  font-weight: $font-wlight;
}
.stxxm-r {
  font-size: 1.8rem;
  font-weight: $font-wregular;
}
.stxxm-m {
  font-size: 1.8rem;
  font-weight: $font-wmedium;
}
.stxxm-b {
  font-size: 1.8rem;
  font-weight: $font-wbold;
}
