.stm-l {
  font-size: 1.4rem;
  font-weight: $font-wlight;
}
.stm-r {
  font-size: 1.4rem;
  font-weight: $font-wregular;
}
.stm-m {
  font-size: 1.4rem;
  font-weight: $font-wmedium;
}
.stm-b {
  font-size: 1.4rem;
  font-weight: $font-wbold;
}
