.stl-l {
  font-size: 2.4rem;
  font-weight: $font-wlight;
}
.stl-r {
  font-size: 2.4rem;
  font-weight: $font-wregular;
}
.stl-m {
  font-size: 2.4rem;
  font-weight: $font-wmedium;
}
.stl-b {
  font-size: 2.4rem;
  font-weight: $font-wbold;
}
