.stxl-l {
  font-size: 3.6rem;
  font-weight: $font-wlight;
}
.stxl-r {
  font-size: 3.6rem;
  font-weight: $font-wregular;
}
.stxl-m {
  font-size: 3.6rem;
  font-weight: $font-wmedium;
}
.stxl-b {
  font-size: 3.6rem;
  font-weight: $font-wbold;
}
