.cbgblue {
  background-color: $blue;
}
.cbgorange {
  background-color: $orange;
}
.cbgboxD {
  background-color: $bggrayboxD;
}
.cbgcontent {
  background-color: $bgcontent;
}
.cbginactive {
  background-color: $textinactif;
}
.cbggray {
  background-color: $gray;
}
.cbginput {
  background-color: $input;
}
.cbgwhite {
  background-color: $white;
}
.cbgblack {
  background-color: $black;
}
.cbgD {
  background-color: $graylight;
}
.cbgmenucompetence {
  background-color: rgba(0, 183, 255, 1);
}
