.box_array_head_search {
  display: flex;
  min-width: 800px;
}
.linehead {
  display: flex;
  flex-wrap: nowrap;
  border-bottom: 1px solid #4c39e9;
  font-size: 1.8rem;
  font-weight: 500;
  height: 60px;
  padding: 0 20px;
  flex: 1;
}
.item_head {
  flex: 1;
  display: flex;
  align-items: center;
}
.item_head:hover {
  cursor: pointer;
}
.item_head span {
  margin-left: 10px;
}
.item_head:hover svg path {
  stroke: #f84210;
}
.item_head_search {
  display: flex;
  align-items: center;
}
.item_head_search:hover {
  cursor: pointer;
}
.item_head_search svg {
  margin-right: 10px;
}
.item_head_search svg:hover path {
  fill: #f84210;
  cursor: pointer;
}
.input_search {
  @extend .cbgwhite;
  @extend .stxm-r;
  border: transparent;
  border-radius: 4px;
  padding: 6px 20px;
  width: 100%;
}
.input_search:focus {
  outline: none;
  box-shadow: 0px 0px 3px 1px rgba(0, 80, 255, 0.4);
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 80, 255, 0.4);
}
.input_search:hover {
  background-color: rgba(0, 80, 255, 0.1);
}
@media screen and (max-width: 700px) {
  .input_search {
    padding: 5px 10px;
  }
}
