/* color text menu */
.ctm-blue {
  color: $color-primary-app;
}
.ctm-blue:hover {
  color: $color-secondary;
}

.ctm-orange {
  color: $color-secondary-app;
}
.ctm-orange:hover {
  color: $color-secondary;
}

.ctm-white {
  color: $color-secondary;
}
.ctm-white:hover {
  color: $color-secondary-app;
}

.ctm-gray {
  color: $color-gray-3;
}
.ctm-gray:hover {
  color: $color-secondary;
}

/* text content */
.ct-custom-primary {
  color: #000000;
}
.ct-custom-secondary {
  color: #ffffff;
}

/* color text head array */
.ctextharray-blue {
  color: $color-primary-app;
}
.ctextharray-orange {
  color: $color-secondary-app;
}
.ctextharray-white {
  color: #ffffff;
}
.ctextharray-gray {
  color: $color-gray-1;
}

/* color text menu active */
/* color text menu */
.ctma-blue {
  font-weight: 700;
  color: $color-primary-app;
}
.ctma-orange {
  font-weight: 700;
  color: $color-secondary-app;
}
.ctma-white {
  font-weight: 700;
  color: $color-secondary;
}
.ctma-gray {
  font-weight: 700;
  color: $color-gray-3;
}
