/* btn blue custom */
.cbtn-blue {
  display: block;
  padding: 14px 22px;
  background-color: transparent;
  border: 1px solid $color-primary-app;
  color: $color-primary-app;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.cbtn-blue:hover {
  background-color: $color-primary-app;
  color: $color-secondary;
  cursor: pointer;
}

.cbtn-blue:focus {
  outline: none;
}

.cbtnm-blue {
  display: block;
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid $color-primary-app;
  color: $color-primary-app;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.cbtnm-blue:hover {
  background-color: $color-primary-app;
  color: $color-secondary;
  cursor: pointer;
}

.cbtnm-blue:focus {
  outline: none;
}

@media screen and (max-width: 700px) {
  .cbtn-blue {
    padding: 7px 15px;
  }

  .cbtnm-blue {
    padding: 2px 5px;
  }
}

/* btn orange custom */
.cbtn-orange {
  display: block;
  padding: 14px 22px;
  background-color: transparent;
  border: 1px solid $color-secondary-app;
  color: $color-secondary-app;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.cbtn-orange:hover {
  background-color: $color-secondary-app;
  color: $color-secondary;
  cursor: pointer;
}

.cbtn-orange:focus {
  outline: none;
}

.cbtnm-orange {
  display: block;
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid $color-secondary-app;
  color: $color-secondary-app;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.cbtnm-orange:hover {
  background-color: $color-secondary-app;
  color: $color-secondary;
  cursor: pointer;
}

.cbtnm-orange:focus {
  outline: none;
}

@media screen and (max-width: 700px) {
  .cbtn-orange {
    padding: 7px 15px;
  }
  .cbtnm-orange {
    padding: 2px 5px;
  }
}
