/* bg menu */
.bgm-blue {
  background-color: $color-primary-app;
}
.bgm-gray {
  background-color: $color-gray-1;
}

/* bg dark content */
.bgdark-gray {
  background-color: #36393f;
}

/* bg head array */
.bgharray-blue {
  background-color: $color-primary-app;
}
.bgharray-gray {
  background-color: $color-gray-1;
}
.bgharray-lightblue {
  background-color: #c3bee4;
}
.bgharray-lightgray {
  background-color: #5a5a5a;
}
