.the_menu_content_link_company {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  font-size: 1.6rem;
  font-weight: 400;
}
.the_menu_content_link_company span {
  margin-left: 10px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.the_menu_content_link_company span:hover {
  color: $orange;
}
.the_menu_content_link_company a {
  background-color: transparent;
  margin-left: 20px;
}

.the_menu_content_sub_company a {
  display: flex;
  align-items: center;
  padding: 15px 10px;
}
.the_menu_content_sub_company a svg {
  margin-left: 20px;
}
.the_menu_content_sub_company a span {
  margin-left: 10px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.the_menu_content_sub_company a span:hover {
  color: $orange;
}
