.box_close {
  position: relative;
  height: 18px;
  width: 18px;
}
.box_close:hover {
  cursor: pointer;
}
.box_close div {
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: $error;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.box_close div:nth-child(1) {
  top: 10px;
  left: 0;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
}
.box_close div:nth-child(2) {
  top: 10px;
  left: 0;
  opacity: 0;
}
.box_close div:nth-child(3) {
  top: 10px;
  left: 0;
  transform: rotate(-225deg);
  -webkit-transform: rotate(-225deg);
  -moz-transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
  -o-transform: rotate(-225deg);
}
