/* size normal */
.btn-orange {
  display: block;
  padding: 14px 22px;
  background-color: transparent;
  @extend .stxm-r;
  @extend .cbrorange;
  @extend .ctorange;
  @extend .upper;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.btn-orange:hover {
  cursor: pointer;
  @extend .cbgorange;
  @extend .ctwhite;
}

.btn-orange:focus {
  outline: none;
}

@media screen and (max-width: 700px) {
  .btn-orange {
    padding: 7px 15px;
  }

  .btnm-orange {
    padding: 2px 5px;
  }
}

/* size small */

.btnm-orange {
  display: block;
  padding: 5px 10px;
  background-color: transparent;
  @extend .stm-r;
  @extend .cbrorange;
  @extend .ctorange;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.btnm-orange:hover {
  cursor: pointer;
  @extend .cbgorange;
  @extend .ctwhite;
}

.btnm-orange:focus {
  outline: none;
}
