.btn-white-gray {
  display: block;
  padding: 14px 22px;
  background-color: transparent;
  border: 1px solid $color-gray-1;
  color: $color-gray-1;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.btn-white-gray:hover {
  background-color: $color-gray-1;
  color: $color-secondary;
  cursor: pointer;
}

.btn-white-gray:focus {
  outline: none;
}

@media screen and (max-width: 700px) {
  .btn-white-gray {
    padding: 7px 15px;
  }
}
