.box_form {
  max-width: 300px;
  margin: auto;
  background-color: #ffffff;
  padding: 30px 30px 30px 30px;
  border-radius: 10px;
}

.box_img {
  text-align: center;
  margin-bottom: 40px;
}

.box_img img {
  width: 70px;
  height: 70px;
}

.box_input {
  text-align: center;
}

.box_input :nth-child(1) {
  width: 100%;
}

.box_input :nth-child(2) {
  width: 100%;
  margin-top: 20px;
}

.password_forget {
  text-align: right;
  padding: 10px 0;
}

.ctblue:hover {
  cursor: pointer;
  text-decoration: underline;
}

.error_box {
  text-align: center;
  margin: 5px 0 20px 0;
}

.btn_connexion {
  display: flex;
  justify-content: center;
}

/** mobile */
@media screen and (max-width: 700px) {
  .box_form {
    max-width: 280px;
    padding: 20px 30px 30px 30px;
  }
}
