.stxm-l {
  font-size: 1.6rem;
  font-weight: $font-wlight;
}
.stxm-r {
  font-size: 1.6rem;
  font-weight: $font-wregular;
}
.stxm-m {
  font-size: 1.6rem;
  font-weight: $font-wmedium;
}
.stxm-b {
  font-size: 1.6rem;
  font-weight: $font-wbold;
}
